* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("JRF_1638.jpg");
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: wheat;
    max-width: 60vw;
    margin: auto;
    height: 100vh;
    padding: 32px;
}

img {
    justify-self: center;
    grid-column: 1 / 3;
}

#content div {
    text-align: center;
}